.title-bar {
  background: $brand-primary;
  color: white;
}

.title-bar__content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $space;
}

.title-bar__title {
  margin: 0;
}

